@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <ul>
        <li>Usuarios
            <ul>
                <li>Crear</li>
                <li>Leer</li>
                <li>Actualizar</li>
                <li>Eliminar</li>
			</ul>
		</li>
        <li>Categorías
            <ul>
                <li>Crear</li>
                <li>Leer</li>
                <li>Actualizar</li>
                <li>Eliminar</li>
			</ul>
		</li>
        <li>Preguntas
            <ul>
                <li>Crear</li>
                <li>Leer</li>
                <li>Actualizar</li>
                <li>Eliminar</li>
			</ul>
		</li>
        <li>Respuestas
            <ul>
                <li>Crear</li>
                <li>Leer</li>
                <li>Actualizar</li>
                <li>Eliminar</li>
			</ul>
		</li>
	</ul>
</div>
