@model User
@{
	bool exists = Model != null;
	if(!exists)
	{
		ViewData["Title"] = "Detalles del usuario";
	}
	else
	{
		ViewData["Title"] = "Detalles del usuario: " + Model.Username;
	}
}
<h1>@ViewData["Title"]</h1>

<div style="margin: 10px 0px;">
	<a class="btn btn-primary" 
		asp-controller="User" 
		asp-action="Edit" 
		asp-route-id="@Model.IdUser">Editar</a>
	<a class="btn btn-danger" 
		asp-controller="User" 
		asp-action="Delete" 
		asp-route-id="@Model.IdUser">Eliminar</a>
</div>


@if(exists)
{
	<p>Existe: @Model.IdUser</p>
}
else
{
	<p>No existe el usuario solicitado.</p>
}